{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Edit profile{% endblock 'title' %}
{% block 'content' %}
<br><br><br><br><br><br><br><br><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
            <button type="submit">Edit Profile</button>

            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
    
    </form>

    {% endblock 'content'%}